body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1cafaf;
    color: rgba(255, 253, 253, 0.753);
}

header {
    background-color: #4443;
    color: rgb(1, 2, 0);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-color: #171720;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: rgba(168, 9, 9, 0.89);
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
}


#main-container {
    display: flex;
    margin: 40px;
    gap: 40px; 
}


#side-content {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    width: 30%;
}

#side-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #444;
}

#side-content p {
    font-size: 20px;
    line-height: 2.5;
    color: #2010b3;
}


#photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; 

}

#photo-container img {
    width: 100%;
    border-radius: 20px;
    grid-column: span 2;
    grid-column-end: span 2;
}