.active{
    background-color: rgb(81, 165, 204);
     font-weight:bold ;
    }
    
    
    #Tasks_container{
        display:grid ;
        grid-template-columns:1fr 2fr 1fr;
         grid-template-rows:repeat(3,150px);
    }
    
    .Task{
    border:1px solid black;
    
    }
    .Task_date{
        border:1px solid black;
    }
    .Task_description{
        border:1px solid black;
    }
    .Task_preview{
        border:1px solid black;
    }
    
    
    
    
    .active{
    background-color: rgb(83, 160, 223);
     font-weight:bold ;
    }
    
    
    #Tasks_container{
        display:grid ;
        grid-template-columns:1fr 2fr 1fr;
         grid-template-rows:repeat(3,150px);
    }
    
    .Task{
    border:1px solid black;
    
    }
    .Task_date{
        border:1px solid black;
    }
    .Task_description{
        border:1px solid black;
    }
    .Task_preview{
        border:1px solid black;
    }
    